## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,0,richards bay,16.14,clear sky,-28.7830,32.0377,NaN
1,2,bathsheba,30.34,scattered clouds,13.2167,-59.5167,NaN
2,3,tiznit,19.96,overcast clouds,29.5833,-9.5000,NaN
3,4,fare,27.00,overcast clouds,-16.7000,-151.0167,NaN
4,5,albany,26.26,overcast clouds,42.6001,-73.9662,NaN

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Weather Description</dt><dd>{Weather Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
m_layer=gmaps.marker_layer(locations,info_box_content= hotel_info)
fig=gmaps.figure()
fig.add_layer(m_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='lakhdenpokhya']
vacation_end = vacation_df.loc[vacation_df['City']=='lakhdenpokhya']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='nikolskoye']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='velizh']
vacation_stop3 = vacation_df.loc[vacation_df['City']=='chekhov']

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig=gmaps.figure()
dir_map=gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode="DRIVING")
fig.add_layer(dir_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,580,lakhdenpokhya,11.35,scattered clouds,61.5198,30.1992,NaN
1,580,lakhdenpokhya,11.35,scattered clouds,61.5198,30.1992,NaN
2,111,nikolskoye,16.94,scattered clouds,59.7035,30.7861,NaN
3,172,velizh,12.44,broken clouds,55.6056,31.1967,NaN
4,305,chekhov,16.13,broken clouds,55.1431,37.4711,NaN

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Weather Description</dt><dd>{Weather Description} and {Max Temp} Â°C</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig=gmaps.figure()
m_la=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(m_la)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))